* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* 공통 */

.content {
  width: 100%;
  padding: 150px 0;
}
.content .inner {
  width: 1176px;
  margin: 0 auto;
}
.content .inner::after {
  content: '';
  clear: both;
  display: block;
}
.content .title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ddd;
  margin: 10px 0;
  color: #444;
}

@media screen and (max-width: 1200px) {
  .content {
    padding: 150px 40px;
  }
  .content .inner {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .content {
    padding: 120px 40px;
  }
}
@media screen and (max-width: 768px) {
  .content {
    padding: 100px 40px;
  }
}
@media screen and (max-width: 640px) {
  .content {
    padding: 80px 20px;
  }
}
